 body {
 	width: 75%;
	margin: 0px auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url("https://i.imgur.com/LOTuDpV.jpg");
	}
	

 header {
 	height: 100px;
 }

 header > nav {
 	height: 100%;
 }

 main {
	 flex: 1 0 auto;
 }

 main h1 {
	 font-weight: bold;
	 background-color:	whitesmoke;
 }

  main h2 {
	 font-weight: 300;
	 background-color: 	whitesmoke;
 }

#logo-icon {
	margin-left: 50px;
	margin-top: 20px;
}

#logo {
 	margin-left: 50px;
 	margin-top: 20px;
 }

 #head-nav-links {
 	margin-right: 50px;
 	margin-top: 20px;
 }

.mainpanel{
	margin: 50px;
	background-color: whitesmoke;
}

 #mainpanel-content {
 	margin: 50px;
 }